{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'category/styles/list.css' %}?v=2.6">
{% endblock %}

{% block content %}

<h2>Категории</h2>

{% if user.role == "admin" %}
    <a href="{% url 'catalog:category_create' %}" class="create">Создать катеогрию</a>
{% endif %}
<div style="margin-top: 50px;">
<ul>
    {% for category in categories %}
        <li class="card">
                <h3>{{ category.name }}</h3>
                <p>
                {% if category.parent %}
                    (parent: {{ category.parent.name }})
                {% endif %}
                </p>
                {% if user.role == "admin" %}
                <div style="display:flex;">
                <a href="{% url 'catalog:category_update' category.pk %}" class="button">Изменить</a>
             
                <a href="{% url 'catalog:category_delete' category.pk %}" class="button" style="background: #ff4d4d;">Удалить</a>
                </div>
                {% endif %}
            </li>
    {% empty %}
        <p>Категорий ещё нет :(</p>
    {% endfor %}
</ul>
</div>
{% endblock %}