{% extends "base.html" %}
{% load static%}
{% block styles %}
<link rel="stylesheet" href="{% static 'category/styles/productlist.css' %}?v=2.6">
{% endblock %}

{% block content %}

<h2>Продукт</h2>

<a href="{% url 'catalog:product_create' %}" class="create">Создать продукт</a>
<div style="margin-top: 50px;">
<div style="display: block; grid-template-colums: repeat(3,auto);">
    {% for product in products %}
        <div>
            <div class="card">
                <h3>{{ product.name }}</h3>
                <div style="display:flex;">
                <a href="{% url 'catalog:product_detail' product.pk %}" class="button">открыть</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Нету продуктов :(</p>
    {% endfor %}
    </div>
</div>
{% endblock %}