{% extends "base.html" %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/styles/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-card">
    <h2>Вход</h2>

    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Войти</button>
    </form>

    <a href="{% url 'register' %}">Нет аккаунта?</a>
</div>
{% endblock %}