{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>

    <link rel="stylesheet" href="{% static 'users/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles/profile.css' %}">
</head>
<body>

<div class="container">
    <div class="profile-card">
        <h2>Профиль</h2>

        <div class="profile-info">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Роль:</strong> {{ user.role }}</p>
        </div>

        <div class="profile-actions">
            <a href="/logout/" class="btn logout">Выйти</a>
        </div>
    </div>
</div>

</body>
</html>