{% extends "base.html" %}
{% load static %}

{% block title %}Магазины{% endblock %}

{% block content %}

<h2>Магазины</h2>
{% if user.role == "admin" %}
<a href="{% url 'shop_create' %}"  class="create" >Создать магазин</a>
{% endif %}
<div style="margin-top: 50px;">
    {% for shop in shops %}
        <div class="card" style="margin-bottom: 15px;">
            <h3>{{ shop.name }}</h3>
            <p>{{ shop.description|truncatechars:100 }}</p>
            <p>Рейтинг: {{ shop.rating }}</p>
            </br>
            <a href="{% url 'shop_detail' shop.id %}" class="button">Открыть</a>
        </div>
    {% empty %}
        <p>Магазинов пока нет</p>
    {% endfor %}
</div>

{% endblock %}