{% extends "base.html" %}

{% block title %}{{ shop.name }}{% endblock %}

{% block content %}
<a href="{% url 'shop_list' %}" class="button">Назад</a>

<div class="card">

    <h2>{{ shop.name }}</h2>

    <p>{{ shop.description }}</p>

    <p><strong>Рейтинг:</strong> {{ shop.rating }}</p>
    <p><strong>Создан:</strong> {{ shop.created_at }}</p>


    {% if user == shop.owner %}
        <a href="{% url 'shop_edit' shop.id %}" class="button">Редактировать</a>
        <a href="{% url 'shop_delete' shop.id %}" class="button" style="background:red;">Удалить</a>
    {% endif %}

    <h2>Товары</h2>

    {% for product in products %}
        <div class="card">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description|truncatechars:100 }}</p>
        </br>
            <p>Цена: {{ product.price }}</p>
            <a href="{% url 'catalog:product_detail' product.pk %}" class="button">открыть</a>
        </div>
    {% empty %}
        <p>Товаров нет</p>
    {% endfor %}
    

</div>

{% endblock %}