/* Сброс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Фон */
body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Центральное "окно" */
.app-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    
}

/* Карточка */
.card {
    background: #ffffff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Заголовок */
.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Поля */
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

/* Кнопка */
.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #111;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background: #333;
}

/* Ссылка */
.link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}